
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Prerequisites
*.d

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Target executables
NeoLisp
NeoLisp-tests

# CMake generated build files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
cmake-build-debug

# CLion
.idea

# VS Code
.vscode

# Test data
test_data

# Build files
cbuild

# Debug symbols
*.dSYM/

